.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
  display: grid;
  place-items:  center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.card{
  width: 250px;
  height: auto;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.qr-img{
  width: 250px;
  height: auto;
  margin: auto;
  border-radius: 15px;
}

h1{
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}

p{
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
